{% extends 'main/base.html' %}

{% block filters %}
    <h3> {{ title }} </h3>
    <div>
        <form action="{% url 'home' %}" method="post" class="form">
            {% csrf_token %}
            <table class="form">
                <tr>
                    <th colspan="2" class="head"> Поиск </th>
                    <th colspan="2" class="head"> Фильтры </th>
                    <th colspan="2" class="head"> Дата </th>
                </tr>
                <tr>
                    <th class="grey">
                        {{ form.search_city.label }}
                    </th>
                    <th class="white">
                        {{ form.search_city }}
                    </th>
                    <th class="grey">
                        {{ form.filter_on_options.label }}
                    </th>
                    <th class="white">
                        {{ form.filter_on_options }}
                    </th>
                    <th class="grey">
                        {{ form.from_day.label }}
                    </th>
                    <th class="white">
                        {{ form.from_day }}
                    </th>
                </tr>
                <tr>
                    <th class="grey">
                        {{ form.search_title.label }}
                    </th>
                    <th class="white">
                        {{ form.search_title }}
                    </th>
                    <th class="grey">
                        {{ form.filter_on_regularity.label }}
                    </th>
                    <th class="white">
                        {{ form.filter_on_regularity }}
                    </th>
                    <th class="grey">
                        {{ form.to_day.label }}
                    </th>
                    <th class="white">
                        {{ form.to_day }}
                    </th>
                </tr>
                <tr>
                    <th class="grey">
                        {{ form.order_by_title.label }}
                    </th>
                    <th class="white">
                        {{ form.order_by_title }}
                    </th>
                    <th class="grey">
                        {{ form.order_by_city.label }}
                    </th>
                    <th class="white">
                        {{ form.order_by_city }}
                    </th>
                    <th class="grey">
                        {{ form.order_by_company.label }}
                    </th>
                    <th class="white">
                        {{ form.order_by_company }}
                    </th>
                </tr>
            </table>
        <hr>
        <button type="submit"> Применить </button>
    </form>
    </div>
{% endblock %}

{% block content %}
    <h3>Результаты поиска по базе данных:</h3>

    {% if data %}
        <table class="DB">
            <tr>
                <th> Номер транзакции </th>
                <th> Назвиние </th>
                <th> Город </th>
                <th> Способ оплаты </th>
                <th> Транспортная компания </th>
                <th> Срок </th>
                <th> Номер </th>
                <th> Регулярность </th>
            </tr>
        {% for el in data %}
            <tr>
                {% for i in el %}
                   <td> {{ i }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <h2> Таких данных нет</h2>
    {% endif %}
{% endblock %}





























